<aside class="planAside">
  <img src="../assets/images/logo/chillAround_logo_01.png" alt="logo" />
  <ul>
    <li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>我的計畫</h4>
    </li>
    <li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>預算清單</h4>
    </li>
    <li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>物品清單</h4>
    </li>
    <li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>會員中心</h4>
    </li>
  </ul>
</aside>
