<aside class="planAside">
  <img class="p-2 logo" src="../assets/images/logo/chillAround_logo_01.png" alt="logo"/>
  <ul class="navbar">
    <li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>我的計畫</h4>
    </li>
    <li>
      <i class="bi bi-coin"></i>
      <h4>預算清單</h4>
    </li>
    <li>
      <i class="bi bi-backpack2"></i>
      <h4>物品清單</h4>
    </li>
    <li>
      <i class="bi bi-person-circle"></i>
      <h4>會員中心</h4>
    </li>
  </ul>
</aside>
