<aside class="planAside">
  <a  href="index.html" class="logo">
    <img class="p-2" src="../assets/images/logo/chillAround_logo_01.png" alt="logo"/>
  </a>
  
  <ul class="navbar">
    <a href="member_mytrip.html"><li>
      <i class="bi bi-journal-bookmark"></i>
      <h4>我的計畫</h4>
    </li></a>
    <a href="Budget.html"><li>
      <i class="bi bi-coin"></i>
      <h4>預算清單</h4>
    </li></a>
    <a href="itemList.html"><li>
      <i class="bi bi-backpack2"></i>
      <h4>物品清單</h4>
    </li></a>
    <a href="member_personaldata.html"><li>
      <i class="bi bi-person-circle"></i>
      <h4>會員中心</h4>
    </li></a>
  </ul>
</aside>
