<header>
    <nav class="searchNav navbar navbar-expand-md navbar-light ps-4 pe-4" style="position: relative;">
        <!-- 左側 Logo -->
        <a class="navbar-brand" href="#">
            <img src="../assets/images/chillAround_logo_01.png" alt="Logo">
        </a>

        <!-- 中間的按鈕組 -->
        <div class="d-flex justify-content-center align-items-center w-100 position-absolute" style="left: 0; right: 0;">
            <ul class="nav " style="font-size: 0.8rem;">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-3 text-light">首頁</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-3 text-light">會員資訊</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-3 text-light">關於我們</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-3 text-light">常見問題</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-3 text-light">使用條款</a></li>
            </ul>
        </div>

        <!-- 右側 登入及其他圖標 -->
        <div class="d-flex ms-auto">
            <ul id="searchNavBtn" class="navbar-nav d-flex justify-content-end align-items-center" >
                <li class="nav-item d-flex align-items-center">
                    <button id="loginBtn" class="btn">登入</button>
                </li>
                <li class="nav-item">
                    <a href=""><i class="bi bi-plus-circle ms-3"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
