<header class="Trans container-fluid p-0">
    <nav class="searchNav navbar navbar-expand-md navbar-light ps-4 pe-4">
        <!-- 左側 Logo -->
        <a class="navbar-brand" href="index.html">
            <img src="../assets/images/chillAround_logo_01.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas 結構 -->
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasNavbarLabel" class="offcanvas-title">選單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav nav-underline me-auto" style="font-size: 0.8rem;">
                    <li class="nav-item my-2"><a href="index.html" class="nav-link">首頁</a></li>
                    <li class="nav-item my-2"><a href="schInfo.html" class="nav-link">行程推薦</a></li>
                    <li class="nav-item my-2"><a href="searchSite.html" class="nav-link">景點推薦</a></li>
                    <li class="nav-item my-2"><a href="test.html" class="nav-link">專屬旅程小測驗</a></li>
                    <li class="nav-item my-2"><a href="foodMap.html" class="nav-link">美食地圖</a></li>
                </ul>
                <ul id="searchNavBtn" class="navbar-nav d-flex align-items-center">
                    <li class="nav-item d-flex p-2">
                        <button id="logoutBtn" class="btn" type="button" class="btn text-white loginbtn"
                            style="display: none;">會員登出</button>
                    </li>
                    <li class="nav-item d-flex p-2">
                        <button id="loginBtn" class="btn" type="button" class="btn text-white loginbtn"
                            data-bs-toggle="modal" data-bs-target="#loginModal">登入</button>
                    </li>
                    <li class="nav-item d-flex p-2">
                        <a href="buildPlan.html"><i class="bi bi-plus-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--login modal -->
<div class="modal fade login" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <h3 class="mb-3 text-center">會員登入</h3>
                    <div class="mb-3">
                        <label for="inputAccount" class="col-form-label">帳號:</label>
                        <input type="email" class="form-control" id="inputAccount" name="inputAccount" required
                            autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="col-form-label">密碼:</label>
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" required>
                    </div>
                    <div class="mb-3 text-center">
                        <button id="loginbtn" type="submit" class="btn signinbtn text-white me-3">登入</button>
                        <a href="register.html" class="btn registerbtn text-white">會員註冊</a>
                    </div>
                </form>
            </div>
            <div class="mx-2 text-center fastlogin">
                <div class="line"></div>
                <div class="mx-1">快速登入或註冊</div>
                <div class="line"></div>
            </div>
            <div class="modal-footer">
                <div id="g_id_onload"
                    data-client_id="745588392722-ldt3hokig9ll3mk6nekm1qmj9apnipo5.apps.googleusercontent.com" data-callback="handleCallback"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin" data-type="standard" data-size="medium" data-theme="filled_blue"
                    data-text="signin" data-shape="rectangular" data-logo_alignment="left" data-width=110>
                </div>
                <button class="btn lineloginbtn"></button>
            </div>
        </div>
    </div>
</div>


<script type="module" src="../js/login.js"></script>
<script>
    // 假設用戶已登入的狀態
    const token = localStorage.getItem('token'); // 獲取 token
    console.log(token);
    let isLoggedIn = false;

    // 取得按鈕
    const loginButton = document.getElementById('loginBtn');
    const logoutButton = document.getElementById('logoutBtn');

if (token) {
    isLoggedIn = true; // 登錄狀態更新
    loginButton.style.display = 'none'; // 隱藏登入按鈕
    logoutButton.style.display = 'block'; // 顯示登出按鈕
    
    // 獲取導航菜單元素
    const navList = document.querySelector('.offcanvas-body .navbar-nav');
    
    // 創建新的 li 元素
    // const memberCenterItem = document.createElement('li');
    // memberCenterItem.className = 'nav-item my-2';
    let memberCenterItem = `
    <li class="nav-item my-2">
        <a href="member_personaldata.html" class="nav-link">會員中心</a>
    </li>
    <li class="nav-item my-2">
        <a href="planList.html" class="nav-link">我的計畫</a>
    </li>
         `; // 更改 href 到正確的會員中心頁面
    
    // 將新的 li 插入到導航菜單的末尾
    // navList.appendChild(memberCenterItem);
    navList.insertAdjacentHTML('beforeend', memberCenterItem);
}
// 點擊登出按鈕事件處理
logoutButton.addEventListener('click', function () {
        if (isLoggedIn) {
            // 如果已登入，執行登出操作
            if (confirm('您確定要登出嗎？')) {
                localStorage.removeItem('token');
                alert("登出成功!");

                isLoggedIn = false; // 更新登入狀態
                logoutButton.style.display = 'none'; // 隱藏登出按鈕
                loginButton.style.display = 'block'; // 顯示登入按鈕

                window.location.href = 'index.html'; // 跳轉到首頁
            }
        }
    });
</script>