.planAside {
  // min-width:10%;
  // max-width:10%;
  text-align: center;
  width: 100px;
  height: 100vh;
  // border: 1px solid $primary;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;


  .logo{
    // border-bottom: 1px solid $primary;
    display: block;
    display: flex;
    justify-content: center;
    
    img{
      height: 65px;
    }
  }

  .navbar{
    padding: 0;
    margin-top: 25px;
    // padding: 12px;
    gap: 25px;
    text-align: center;
    color: $primary;
    display: flex;
    justify-content: center;
    
    .bi{
      
      font-size: 30px;
    }
    h4{
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
  }
  

  
}
