.planAside {
  min-width: 10%;
  max-width: 10%;
  border: 1px solid $primary;

  .logo{
    border-bottom: 1px solid $primary;
    display: block;
    img{
      max-width: 100%;
    }
  }

  .navbar{
    margin-top: 68px;
    // padding: 12px;
    gap: 72px;
    text-align: center;
    color: $primary;
    display: flex;
    justify-content: center;
    
    .bi{
      font-size: 45px;
    }
    h4{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
  

  
}
