header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: transparent;
}

.searchNav{
    img{
        height: 65px;
    }
    #loginBtn{
        border-radius: 50px;
        margin: auto;
        z-index: 1000;
        background-color: $warning;
        color: white;
    
        &:hover {
            background-color: $secondary;
            color: white;
        }
    }
}

.nav-item{
  .nav-link{
    color: $light;
    &:hover {
        color: $warning;
        opacity: 0.8;
    }
  }
}

