.searchSiteHeader{
  width: 100vw;
  z-index: 1000;
    .searchNav{
        img{
            height: 65px;
        }
        // 登入按鈕
      #loginBtn{
        background-color: #e7ba48;
        color: white;
        width: auto;
        border-radius: 25px;
        &:hover {
          background-color: $secondary;
          color: white;
        }
      }
      #welcomeMessage{
        font-size: 20px;
        color: $primary;
      }
    }
}
