.buildPlan {
  .buildArea {
    border: 1px solid $primary;
    box-shadow: 1px 1px 1px 1px #909090;
    padding-bottom: 120px;
  }
  .mapArea {
    border: 1px solid $primary;
    box-shadow: 1px 1px 1px 1px #909090;
    padding: 0;
    gmp-map {
      height: 100%;
      width: 100%;
    }
    .place-picker-container {
      padding: 20px;
    }
  }

  .closeBtn {
    display: flex;
    justify-content: end;
    .btn {
      border: none;
      padding: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    .bi {
      font-size: 60px;
      border: none;
    }
  }
  .inputBox {
    h3 {
      font-size: 35px;
      font-weight: bold;
      color: $primary;
      margin-bottom: 28px;
    }
    input {
      border: 1px solid $primary;
      font-size: 30px;
      font-weight: bold;
      box-shadow: 1px 1px 1px 1px #909090;
      border-radius: 5px;
      margin-bottom: 72px;
    }
  }
  .planDate {
    input {
      width: 85%;
      max-width: 100%;
    }
  }
  .arrow-right {
    margin: auto 0 72px 0;
    .bi {
      font-size: 50px;
      color: $primary;
    }
  }
  .selectBox {
    label {
      font-size: 35px;
      font-weight: bold;
      color: $primary;
      margin-bottom: 28px;
    }

    .form-select {
      max-width: 45%;
      font-size: 30px;
      font-weight: bold;
      color: $primary;
      border: 1px solid $primary;
      box-shadow: 1px 1px 1px 1px #909090;
    }
    option {
      font-size: 30px;
      font-weight: bold;
      color: $primary;
    }
    .btn {
      color: #ffffff;
      font-size: 26px;
    }
  }
  .btn-complete {
    color: #ffffff;
    font-size: 30px;
    margin: auto 0 0 auto;
    padding: 12px 24px;
  }

  .mb-selectbox {
    margin-bottom: 72px;
  }

  @media (max-width: 768px) {
    .buildArea {
      padding-bottom: 80px;
    }

    .inputBox {
      h3 {
        font-size: 28px;
        margin-bottom: 24px;
      }
      input {
        font-size: 24px;
        margin-bottom: 48px;
        width: 80%;
        max-width: 100%;
      }
    }
    .arrow-right {
      margin: 48px 36px 48px 0;
      .bi {
        font-size: 50px;
      }
    }
    .selectBox {
      label {
        font-size: 28px;
        margin-bottom: 24px;
      }

      .form-select {
        width: 48%;
        font-size: 24px;
        margin-bottom: 48px;
      }
      option {
        font-size: 24px;
      }
      .btn-share {
        font-size: 22px;
        height: 52px;
        padding: 4px 8px;
      }
    }
    .btn-complete {
      font-size: 24px;
      padding: 6px 12px;
    }

    .mb-selectbox {
      margin-bottom: 48px;
    }
  }
}
div.gm-style-iw-chr {
  display: none;
}
