body,
html {
    box-sizing: border-box;
    font-family: "Lato", "Noto Sans TC", sans-serif;
    margin: 0 auto;
    padding: 0px;
    // background-color: #e2ad25;
    // width: 100%;
    // height: 100%;


}


.shcInfo {
    width: 100%;
    height: auto;
}

.TopCard {
    // cursor: pointer;
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100vh;
    border: 0px; // 消除預設白框
    border-radius: 0px;
    // background-color: #f8f9fa;

    .TopcardImage {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }

    &:hover img {
        transform: scale(1.1);
    }

    .TopcardOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); //半透明背景
        color: white;
        padding: 30px;

        .card-title {
            position: absolute;
            bottom: 2rem;
            left: 0;
            margin: 1rem;
            // background-color:red
        }

        .card-subtitle {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 1rem;
            // background-color:red
        }

    }

}



// 搜尋欄
// .searchOverlay2 {

//     // top: 90%;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
//     width: 100%;
//     background-color: red;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
//     border: 2px solid $primary;
//     padding: 10px;
//     border-radius: 5px;

//     .input-group2 {
//         justify-content: center;
//     }

//     #regionLabel,
//     #categoryLabel2 {
//         font-size: 18px;
//         color: $primary;
//     }

//     .custom-select2 {
//         // background-color: #4a2e2e;
//         width: 150px;
//         color: #909090;
//         border: 1px solid $primary;
//     }

//     .input-group-append2 {
//         button {
//             background-color: #E7BA48;
//             color: white;
//             width: 80px;
//             border-radius: 22px;

//             &:hover {
//                 background-color: $secondary;
//                 color: white;
//             }
//         }
//     }
// }

#loginBtn,
#moreBtn {
    background-color: #E7BA48;
    color: white;
    width: 114px;
    border-radius: 25px;

    &:hover {
        background-color: #e2ad25;
        color: white;
    }
}



#SchRecommendCards {

    //景點文字
    // .siteText,
    // .foodText {
    //     background-color: #E7E7E7;
    //     width: 100%;
    //     height: 160px;

    //     h1 {
    //         font-family: "Noto Sans TC", sans-serif;
    //         font-optical-sizing: auto;
    //         font-weight: 500;
    //         font-style: normal;
    //         font-size: 35px;
    //     }
    // }



    //景點卡片
    .SchCard {
        // cursor: pointer;
        position: relative;
        overflow: visible;
        width: 100%;
        height: 90vh;
        border: 0px; // 消除預設白框
        border-radius: 0px;
        // background-color: #f8f9fa;

        .SchcardImage {
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease;
            }
        }

        &:hover img {
            transform: scale(1.1);
        }

        .cardOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); //半透明背景
            color: white;
            padding: 30px;
        }

        .btnOverlay {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .bi-heart {
                color: $light;
                margin: 0;
                padding: 0 1rem;
                font-size: 1.5rem;
            }

            &:hover .bi-heart {
                color: $danger;

            }



            button {
                color: white;
                border-radius: 25px;
            }
        }
    }
}


.divider,
.divider2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    ;
}


.divider::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: $success;
    /* margin: 5px 20px; */
    margin: auto;
}

.divider2::after {
    flex: 1;
    content: '';
    padding: 1.5px;
    background-color: $light;
    /* margin: 5px 20px; */
    margin: auto;
}

.swiper {
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
}

.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Yt_video {
    width:100%;
    /* 固定寬度 */
    height: 360px;
    /* 固定高度 */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.youtube-iframe {
    width: 100%;
    height: 100%;
}







.custom-card {
    max-width: 1200px;
    /* 最大寬度限制 */
    height: 200px;
}

.custom-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .custom-card {
        height: auto;
        /* 手機或平板自動調整高度 */
    }
}