@charset "UTF-8";
.Popup_Budget_Final {
  /**************** EDIT SCSS ****************/
  /* .modal:target,
          .overlay:target {
              display: block;
          } */
  /**************** CATEGORY SCSS ****************/
  /* .overlay2 {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
              z-index: 500;
          } */
}
.Popup_Budget_Final .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}
.Popup_Budget_Final .modal {
  /* display: none; */
  background: #BED3DC;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 420px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.Popup_Budget_Final .modal .topDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.Popup_Budget_Final .modal .topDiv .date {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #4A859F;
}
.Popup_Budget_Final .modal .topDiv .close,
.Popup_Budget_Final .modal .topDiv .category {
  background: white;
  border: 2px solid #4A859F;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #4A859F;
  font-size: medium;
  margin-right: 10px;
  padding: 2px 20px;
}
.Popup_Budget_Final .modal form {
  margin: 15px 0;
}
.Popup_Budget_Final .modal form > div {
  height: 55px;
  padding: 0 20px;
  margin: 15px 30px;
  background: white;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Popup_Budget_Final .modal form > div > input {
  border: none;
}
.Popup_Budget_Final .modal form > div .checkBox {
  margin-right: 235px;
  transform: scale(1.5);
}
.Popup_Budget_Final .modal .buttons {
  display: flex;
  justify-content: center;
}
.Popup_Budget_Final .modal .buttons button {
  margin: 0 15px;
  background: #4A859F;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 3px 20px;
}
.Popup_Budget_Final .modal2 {
  background-color: #BED3DC;
  border-radius: 15px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 420px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}
.Popup_Budget_Final .modal2 .modalContent2 {
  overflow-y: scroll;
  height: 100%;
}
.Popup_Budget_Final .modal2 .modalContent2 .topDiv2 {
  display: flex;
  justify-content: space-between;
}
.Popup_Budget_Final .modal2 .modalContent2 .topDiv2 .close2,
.Popup_Budget_Final .modal2 .modalContent2 .topDiv2 > button {
  text-decoration: none;
  cursor: pointer;
  background: white;
  border: 2px solid #4A859F;
  border-radius: 15px;
  color: #4A859F;
  font-size: medium;
  margin-right: 10px;
  padding: 2px 20px;
}
.Popup_Budget_Final .modal2 .modalContent2 .category2 {
  background-color: #3E7086;
  border-radius: 10px;
  color: white;
  font-size: medium;
  margin: 0 35px;
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
}
.Popup_Budget_Final .modal2 .modalContent2 .category2 .tiTle {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.Popup_Budget_Final .modal2 .modalContent2 .category2 .options {
  /* visibility: hidden; */
  /* opacity: 0; */
  display: none;
  padding: 10px;
  justify-content: start;
  flex-wrap: wrap;
  /* display: flex; */
  /* flex 會影響 display: none 失效 */
}
.Popup_Budget_Final .modal2 .modalContent2 .category2 .options .option {
  /* display: none; */
  background-color: #E9E9E9;
  color: black;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 8px 5px;
  padding: 3px 0;
  box-sizing: border-box;
}
.Popup_Budget_Final .modal2 .modalContent2 .category2 .options .option.active {
  background-color: #87cba7;
  color: white;
}
.Popup_Budget_Final .modal2.active,
.Popup_Budget_Final .overlay2.active {
  display: block;
}/*# sourceMappingURL=Popup_Budget.css.map */