<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet"> -->
    <!-- for bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->


    <!-- <script type="module" src="/main.js"></script> -->

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

</head>

<body>
    <div class="shcInfo">
        <!-- header -->
        <%- include('./layout/searchHeader_trans'); -%>


            <!-- 這是top slider -->
            <!-- <div class="d-md-flex w-100 flex-wrap ">

                <div class="col-sm-12 col-md-3 col-lg-3 schInfo  ">
                    <a href="#" class="card img "
                        style="background-image: url('https://dummyimage.com/360x650/000/fff&text=360x650'); ">

                        

                        <div class="text p-5 ">
                            <h2>台北三日遊</h2>
                            <p class="">Apr. 14th, 2022
                            </p>
                        </div>
                        <a href="" class="item bi bi-heart text-dark"></a>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 schInfo  ">
                    <a href="#" class="card img "
                        style="background-image: url('https://dummyimage.com/360x650/000/fff&text=360x650'); ">

                        

                        <div class="text p-5 ">
                            <h2>台北三日遊</h2>
                            <p class="">Apr. 14th, 2022
                            </p>
                        </div>
                        <a href="" class="item bi bi-heart text-dark"></a>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 schInfo  ">
                    <a href="#" class="card img "
                        style="background-image: url('https://dummyimage.com/360x650/000/fff&text=360x650'); ">

                        

                        <div class="text p-5 ">
                            <h2>台北三日遊</h2>
                            <p class="">Apr. 14th, 2022
                            </p>
                        </div>
                        <a href="" class="item bi bi-heart text-dark"></a>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 schInfo  " style="position: relative; ">
                    <a href="#" class="card img "
                        style="background-image: url('https://dummyimage.com/360x650/000/fff&text=360x650'); ">

                        

                        <div class="text p-5 ">
                            <h2>台北三日遊</h2>
                            <p class="">Apr. 14th, 2022
                            </p>
                        </div>
                        <a href="" class="item bi bi-heart text-dark"></a>
                    </a>
                </div>
            </div> -->

            <div class="container-fluid p-0 HeroBox">
                <div class="TopHero text-light fw-bloder">
                    <h1>熱門推薦行程</h1>
                </div>
                <div class="row m-0 swiper mySwiper_1 ">
                    <div class="swiper-wrapper p-0 ">
                        <!-- 迴圈生成卡片 -->
                        <!-- <div class="swiper-slide col-md-3 p-0 m-0">
                            <div id="siteCard" class="allCard card bg-primary">
                                <div class="cardImage">
                                    <img src="${data.image}" alt="">
                                </div>
                                <div class="cardOverlay">
                                    <h5 class="card-title">${data.title}</h5>
                                    <p class="card-subtitle">${data.location}</p>
                                </div>
                            </div>
                        </div> -->


                    </div>

                    <!-- Pagination -->
                    <div class="swiper-pagination swiper-pagination_1"></div>
                    <!-- Navigation buttons -->
                    <!-- <div class="swiper-button-next swiper-button-next_1"></div>
                    <div class="swiper-button-prev swiper-button-prev_1"></div> -->

                </div>
            </div>


            <!-- 搜尋bar -->

            <div class="container my-5">
                <div class="searchOverlay2">
                    <div class="input-group2 d-flex align-items-center justify-content-around">
                        <div class="d-flex  inputRWD ">
                            <label for="regionSelect" class="me-3" id="regionLabel">地區</label>
                            <select class="custom-select">
                                <option selected>請選擇</option>
                                <option value="1">選項1</option>
                                <option value="2">選項2</option>
                                <option value="3">選項3</option>
                            </select>
                        </div>
                        <div class="d-flex  inputRWD ">
                            <label for="categorySelect" class="me-3" id="categoryLabel2">類別</label>
                            <select class="custom-select2">
                                <option selected>請選擇</option>
                                <option value="1">選項A</option>
                                <option value="2">選項B</option>
                                <option value="3">選項C</option>
                            </select>
                        </div>
                        <div class="input-group-append2">
                            <button class="btn btn-outline-light" type="button">搜尋</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- schedule title -->
            <div class="container d-flex  justify-content-between my-5">
                <h4 class="text-dark text-nowrap fs-2 fw-bolder">最新行程</h4>
                <div class="divider">
                </div>

            </div>

            <!-- 行程card -->
            <div class="container-fluid d-md-flex flex-wrap p-0">

                <div id="SchRecommendCards">
                    <div id="SchcardBox" class="row m-0">
                        <!-- 迴圈生成卡片 -->
                    </div>

                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">選擇行程</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3 w-100">
                                    <label for="itinerarySelect" class="form-label">選擇行程</label>
                                    <select class="form-select" id="itinerarySelect">
                                        <option value="" selected>請選擇行程</option>
                                        <option value="itinerary1">行程 1</option>
                                        <option value="itinerary2">行程 2</option>
                                        <option value="itinerary3">行程 3</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-body">
                                <div class="mb-3 w-100" id="daySelectContainer" style="display: none;">
                                    <label for="daySelect" class="form-label">選擇天數</label>
                                    <select class="form-select" id="daySelect">
                                        <option value="" selected>請選擇天數</option>
                                        <option value="day1">第 1 天</option>
                                        <option value="day2">第 2 天</option>
                                        <option value="day3">第 3 天</option>
                                    </select>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary Close"
                                    data-bs-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary Save">保存選擇</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-sm-12 col-md-3 col-lg-3">
                    <a href="#" class="img">
                        <div class="card img"
                            style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://travelimg.yam.com/DATA/ARTICLE/20190320170605596.png');">
                            <div class="text">
                                <h2>台北三日遊</h2>
                                <p class="">Apr. 14th, 2022</p>
                            </div>

                            
                            <div class="item d-flex justify-content-between align-items-end">
                                <a href="#" class="bi bi-heart px-3 text-light fs-3"></a>

                                <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    style="border-radius: 50px; color: #FCFBFA;  border-width: 0px;">
                                    加入行程
                                </button>
                            </div>
                        </div>
                    </a>
                </div> -->

            </div>
            <!-- 行程more -->
            <nav class="container d-flex justify-content-center align-items-center my-5">

                <a href="_schMore.html"><button class="btn btn-secondary "
                        style="border-radius: 50px; color: #fff;  border-width: 0px; height: 37px; width:auto;">
                        更多熱門行程
                    </button>
                </a>

            </nav>

            <!-- youtube title -->
            <div class="bg-primary py-5">
                <div class="container d-flex  justify-content-between ">

                    <h4 class="text-light text-nowrap fs-2 fw-bolder">Youtube 最新推薦</h4>
                    <div class="divider2">
                    </div>
                </div>
            </div>
            <!-- youtube video -->
            <div class="container-fluid  p-0 bg-primary">
                <div class="swiper mySwiper_2 bg-primary">
                    <div class="swiper-wrapper">
                        <!-- 迴圈生成 -->
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <!-- youtube more -->
            <nav class="container-fluid d-flex justify-content-center align-items-center py-5 bg-primary">
                <button class="btn btn-secondary "
                    style=" border-radius: 50px; color: #fff;  border-width: 0px; height: 37px; width:auto;">
                    更多熱門影片
                </button>
            </nav>


            <div class="BlogBox m-0 py-5">
                <!-- blog title -->
                <div class="container d-flex  justify-content-between ">

                    <h4 class="text-dark text-nowrap fs-2 fw-bolder">部落客最新推薦</h4>
                    <div class="divider"></div>
                </div>
                <!-- blog card -->
                <div class="container my-5 ">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                            <div class="card custom-card flex-row flex-wrap">
                                <!-- 左邊的圖片 -->
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img src="https://via.placeholder.com/400x200" class="custom-img" alt="Card image">
                                </div>

                                <!-- 右邊的文字內容 -->
                                <div class="col-lg-8 col-md-8 col-sm-12 custom-body">
                                    <div class="d-flex justify-content-between align-items-end">
                                        <h4 class="card-title fw-bolder">苗栗一日遊</h4>
                                        <div class="d-flex align-items-end">
                                            <h6 class="my-0 p-0 mx-2">作者</h6>
                                            <p class="date p-0 m-0">2024.10.03</p>

                                        </div>


                                    </div>

                                    <hr>
                                    <p class="card-text">慢魚海岸自行車！漁光饗宴、好望角海景、壯觀合歡石滬、夢幻過港隧道玩透透！</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                            <div class="card custom-card flex-row flex-wrap">
                                <!-- 左邊的圖片 -->
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img src="https://via.placeholder.com/400x200" class="custom-img" alt="Card image">
                                </div>

                                <!-- 右邊的文字內容 -->
                                <div class="col-lg-8 col-md-8 col-sm-12 custom-body">
                                    <h4 class="card-title">卡片標題</h4>
                                    <hr>
                                    <p class="card-text">這是一段卡片的內文。你可以在這裡放置一些描述，或是其他相關資訊。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                            <div class="card custom-card flex-row flex-wrap">
                                <!-- 左邊的圖片 -->
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img src="https://via.placeholder.com/400x200" class="custom-img" alt="Card image">
                                </div>

                                <!-- 右邊的文字內容 -->
                                <div class="col-lg-8 col-md-8 col-sm-12 custom-body">
                                    <h4 class="card-title">卡片標題</h4>
                                    <hr>
                                    <p class="card-text">這是一段卡片的內文。你可以在這裡放置一些描述，或是其他相關資訊。</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                            <div class="card custom-card flex-row flex-wrap">
                                <!-- 左邊的圖片 -->
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img src="https://via.placeholder.com/400x200" class="custom-img" alt="Card image">
                                </div>

                                <!-- 右邊的文字內容 -->
                                <div class="col-lg-8 col-md-8 col-sm-12 custom-body">
                                    <h4 class="card-title">卡片標題</h4>
                                    <hr>
                                    <p class="card-text">這是一段卡片的內文。你可以在這裡放置一些描述，或是其他相關資訊。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- footer -->
            <%- include('./layout/footer'); -%>

    </div>


    <script type="module" src="/main.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script> -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        $(document).ready(function () {

            const topPageData = [
                { title: "景點名稱1", location: "地點1", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },

            ];

            $.each(topPageData, function (index, data) {
                //  console.log(data.image);
                let topPage =
                    `<div class="swiper-slide">
                <div id="siteCard" class="TopCard card bg-primary ">
                    <div class="TopcardImage">
                        <img src="${data.image}" alt="">
                    </div>
                    <div class="TopcardOverlay">
                        <h5 class="card-title ">${data.title}</h5>
                        <p class="card-subtitle">${data.location}</p>
                    </div>
                   
                </div>
            </div>`;
                $(".mySwiper_1 .swiper-wrapper").append(topPage);
            })

            // 初始化 Swiper 在內容加載後


            var swiper = new Swiper(".mySwiper_1", {
                spaceBetween: 0, // 卡片之間的間距
                slidesPerView: 4, // 同時顯示3張卡片
                centeredSlides: false, // 卡片不居中顯示
                pagination: {
                    el: ".swiper-pagination_1",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next_1",
                    prevEl: ".swiper-button-prev_1",
                },
                autoplay: {
                    delay: 5000, // 自動播放延遲
                    disableOnInteraction: false, // 使用者互動後繼續播放

                },
                breakpoints: {
                    // 當視窗寬度為 320px 或更大
                    320: {
                        slidesPerView: 1, // 在手機顯示1張卡片
                        spaceBetween: 0, // 卡片之間的間距變小
                    },
                    // 當視窗寬度為 768px 或更大
                    768: {
                        slidesPerView: 3, // 在平板顯示2張卡片
                        spaceBetween: 0, // 卡片之間的間距
                    },
                    // 當視窗寬度為 1024px 或更大
                    1024: {
                        slidesPerView: 4, // 在桌機顯示3張卡片
                        spaceBetween: 0, // 卡片之間的間距
                    },
                },

            });





            // 景點卡片生成
            const sitecardData = [
                { title: "景點名稱1", location: "地點1", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                { title: "景點名稱2", location: "地點2", image: "../assets/images/searchSite/chimeiMuseum.jpeg" },
                // 添加更多卡片資料
            ];
            $.each(sitecardData, function (index, data) {
                //  console.log(data.image);
                let siteCard = `<div class="col-md-3 p-0 m-0">
                <div id="siteCard" class="SchCard  card bg-primary">
                    <div class="SchcardImage">
                        <img src="${data.image}" alt="">
                    </div>
                    <div class="cardOverlay">
                        <h5 class="card-title ">${data.title}</h5>
                        <p class="card-subtitle">${data.location}</p>
                    </div>
                    
                    <div class="btnOverlay">
                        <a id="likeBtn" class="bi bi-heart""></a>
                        </a>
                        <button type="button" class="addBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            加入行程
                        </button>
                    </div>
                </div>
            </div>`;
                $("#SchcardBox").append(siteCard);
            })


            //like click
            $(document).on('click', '#likeBtn', function () {
                $(this).toggleClass('bi-heart bi-heart-fill');
            });

            //modal
            // 當選擇行程時，顯示天數選擇
            $('#itinerarySelect').change(function () {
                if ($(this).val()) {
                    $('#daySelectContainer').show(); // 顯示天數選擇
                } else {
                    $('#daySelectContainer').hide(); // 隱藏天數選擇
                }
            });

            // 確保關閉模態框時，隱藏天數選擇
            $('#exampleModal').on('hide.bs.modal', function () {
                $('#daySelectContainer').hide(); // 隱藏天數選擇
                $('#itinerarySelect').val(''); // 重置行程選擇
                $('#daySelect').val(''); // 重置天數選擇
            });

            const videoData = [
                "VIDEO_ID_1",
                "VIDEO_ID_2",
                "VIDEO_ID_3",
                "VIDEO_ID_4",
                "VIDEO_ID_5",
                "VIDEO_ID_6"
            ];

            $.each(videoData, function (index, videoId) {
                const slide = `
                    <div class="swiper-slide">
                        <div class="Yt_video">
                            <iframe class="youtube-iframe" src="https://www.youtube.com/embed/${videoId}"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>`;
                $(".mySwiper_2 .swiper-wrapper").append(slide);
            });

            var swiper_2 = new Swiper(".mySwiper_2", {
                spaceBetween: 10, // 卡片之間的間距
                slidesPerView: 3, // 同時顯示3張卡片
                centeredSlides: false, // 卡片不居中顯示
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 5000, // 自動播放延遲
                    disableOnInteraction: false, // 使用者互動後繼續播放
                },
                breakpoints: {
                    // 當視窗寬度為 320px 或更大
                    320: {
                        slidesPerView: 1, // 在手機顯示1張卡片
                        spaceBetween: 0, // 卡片之間的間距變小
                    },
                    // 當視窗寬度為 768px 或更大
                    768: {
                        slidesPerView: 3, // 在平板顯示2張卡片
                        spaceBetween: 10, // 卡片之間的間距
                    },
                    // 當視窗寬度為 1024px 或更大
                    1024: {
                        slidesPerView: 3, // 在桌機顯示3張卡片
                        spaceBetween: 10, // 卡片之間的間距
                    },
                },
            });
        })


    </script>




</body>

</html>