.loginbtn {
    width: 110px;
    height: 40px;
    font-size: 20px;
    border-radius: 50px !important;
    background-color: #E7BA48 !important;
}

.login {
    .modal-header {
        border: none;
    }

    .modal-body {
        .signinbtn {
            padding: 6px 20px;
            font-size: 20px;
            border-radius: 50px;
            background-color: #4A84A0;
        }

        .registerbtn {
            font-size: 20px;
            border-radius: 50px;
            background-color: #E7BA48;
        }
    }

    .fastlogin {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #929292;

        .line {
            width: 40%;
            border: 1px solid;
        }
    }

    .modal-footer {
        border: none;
        flex-direction: column;
        justify-content: center;

        .lineloginbtn {
            width: 110px;
            height: 32px;
            background-image: url(/images/btn_login_base.png);
            background-repeat: no-repeat;
        }

        .lineloginbtn:hover{
            background-image: url(/images/btn_login_hover.png);
        }

        .lineloginbtn:active{
            background-image: url(/images/btn_login_press.png);
        }
    }
}