@charset "UTF-8";
* {
  font-family: Arial, "Noto Serif TC", serif;
}

.loginbtn {
  width: 110px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px !important;
  background-color: #E2AD25 !important;
}

.loginbtn:hover {
  background-color: #E7BA48 !important;
}

.login .modal-header {
  border: none;
}
.login .modal-body .signinbtn {
  padding: 6px 20px;
  border-radius: 50px;
  background-color: #4A859F;
}
.login .modal-body .signinbtn:hover {
  background-color: #6799AE;
}
.login .modal-body .registerbtn {
  padding: 6px 20px;
  border-radius: 50px;
  background-color: #E2AD25;
}
.login .modal-body .registerbtn:hover {
  background-color: #E7BA48;
}
.login .fastlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #929292;
}
.login .fastlogin .line {
  width: 40%;
  border: 1px solid;
}
.login .modal-footer {
  border: none;
  flex-direction: column;
  justify-content: center;
}
.login .modal-footer .lineloginbtn {
  width: 110px;
  height: 32px;
  background-image: url(../images/btn_login_base.png);
  background-repeat: no-repeat;
}
.login .modal-footer .lineloginbtn:hover {
  background-image: url(../images/btn_login_hover.png);
}
.login .modal-footer .lineloginbtn:active {
  background-image: url(../images/btn_login_press.png);
}

.register {
  background-image: url(../images/註冊背景圖.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.register .mycard {
  max-width: 540px;
  background-color: rgba(238, 238, 238, 0.8);
  padding: 50px 30px;
  margin: 100px auto 25px;
  border-radius: 30px;
}
.register .mycard .title {
  font-size: 36px;
  font-weight: bold;
}
.register .mycard .col-form-label {
  font-size: 24px;
}
.register .mycard .subbtn {
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 50px;
  background-color: #E2AD25;
}
.register .mycard .subbtn:hover {
  background-color: #E7BA48;
}
.register .mycard .fastregister {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #929292;
}
.register .mycard .fastregister .line {
  width: 40%;
  border: 1px solid;
}
.register .mycard .fastregisterbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register .mycard .fastregisterbtn .lineloginbtn {
  width: 110px;
  height: 32px;
  background-image: url(../images/btn_login_base.png);
  background-repeat: no-repeat;
}
.register .mycard .fastregisterbtn .lineloginbtn:hover {
  background-image: url(../images/btn_login_hover.png);
}
.register .mycard .fastregisterbtn .lineloginbtn:active {
  background-image: url(../images/btn_login_press.png);
}

.member {
  height: 100vh;
}
.member .container-fluid {
  height: 100%;
}
.member .container-fluid .row {
  height: 100%;
}
.member .container-fluid .row .col-md-2 {
  padding: 0;
  border-right: 1px solid #4A859F;
}
.member .container-fluid .row .col-md-2 img {
  width: 110px;
  height: 60px;
  margin: 20px 0;
}
.member .container-fluid .row .col-md-2 .sidebar {
  border-top: 1px solid #4A859F;
}
.member .container-fluid .row .col-md-2 .sidebar .item a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #4A859F;
  font-size: 24px;
  transition: all ease 1s;
}
.member .container-fluid .row .col-md-2 .sidebar .item a .fa-solid {
  font-size: 35px;
}
.member .container-fluid .row .col-md-2 .sidebar .item a::before,
.member .container-fluid .row .col-md-2 .sidebar .item a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  z-index: -2;
}
.member .container-fluid .row .col-md-2 .sidebar .item a::before {
  transition: all ease 1s;
  background-color: #4A859F;
  z-index: -1;
}
.member .container-fluid .row .col-md-2 .sidebar .item a:hover {
  z-index: 1;
  color: #fff;
}
.member .container-fluid .row .col-md-2 .sidebar .item a:hover::after,
.member .container-fluid .row .col-md-2 .sidebar .item a:hover::before {
  width: 100%;
}
.member .container-fluid .row .col-md-2 .sidebar .item a:active::before {
  background-color: #6799AE;
}
.member .container-fluid .row .col-md-10.personaldata {
  padding: 90px 80px;
}
.member .container-fluid .row .col-md-10.personaldata .editbtn {
  background-color: #4A859F;
  border-radius: 50px;
}
.member .container-fluid .row .col-md-10.personaldata .card {
  border: none;
}
.member .container-fluid .row .col-md-10.personaldata .card .row .col-md-4 img {
  border-radius: 50%;
  background-color: #eeeeee;
}
.member .container-fluid .row .col-md-10.personaldata .card .row .col-md-8 .card-body .card-text {
  font-size: 35px;
}
.member .container-fluid .row .col-md-10.personaldata .formList {
  padding: 0 30px;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 10px;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item .inpwrite {
  background: none;
  outline: none;
  border: none;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item #address {
  width: 350px;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item:nth-child(2) {
  display: flex;
  gap: 20px;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item:nth-child(2) div {
  display: flex;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item:nth-child(3) {
  display: flex;
  gap: 20px;
}
.member .container-fluid .row .col-md-10.personaldata .formList form .item:nth-child(3) div {
  display: flex;
}
.member .container-fluid .row .col-md-10.personaldata .formList .bindaccount {
  display: flex;
}
.member .container-fluid .row .col-md-10.personaldata .formList .bindaccount .title {
  padding: 7px 0;
  min-width: 100px;
  font-size: 20px;
}
.member .container-fluid .row .col-md-10.personaldata .formList .bindaccount .googleline {
  width: 100%;
}
.member .container-fluid .row .col-md-10.personaldata .formList .bindaccount .googleline .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 10px;
  padding: 7px 0;
}
.member .container-fluid .row .col-md-10.personaldata .formList .bindaccount .googleline .item #googleimg {
  height: 40px;
}/*# sourceMappingURL=member_style.css.map */